body {
  margin-top: 50px;
}

.banner {
  padding: 0px;
}

.navbar-nav {
  margin-left: auto;
  font-size: 14px;
}

.navbar-expand-lg {
  background-color: #39628c;
}

.nav-link {
  color: #fff;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.nav-link:hover {
  color: #e9e9e9;
}

